---
language: ruby

rvm:
  - 2.4.1

env:
  matrix:
    - PUPPET_GEM_VERSION="~> 4"

sudo: false

bundler_args: '--without development system_tests'

before_install:
  - 'gem update --system'
  - 'gem update bundler'

script: 'SPEC_OPTS="--format documentation" bundle exec rake validate lint spec'

matrix:
  fast_finish: true
  exclude:
    - rvm: 2.0.0
      env: PUPPET_GEM_VERSION="~> 4"
    - rvm: 2.0.0
      env: PUPPET_GEM_VERSION="~> 4.9.0"
    - rvm: 2.4.1
      env: PUPPET_GEM_VERSION="~> 4.7.0"

notifications:
  email: false
